<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ message }}!
  </h1>
<!--  <app-test></app-test>-->
<!--  <app-example></app-example>-->
<!--  <app-structural-directives></app-structural-directives>-->
<!--  <app-component-interaction (childEvent)="message=$event" [parentData] = "name">-->

<!--  </app-component-interaction>-->
<!--  <app-pipes></app-pipes>-->
  <app-services></app-services>
</div>




