<div class="container fluid mb-5">
  <h1>Angular Form</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)" novalidate>
    <!--    {{userForm.value | json}}-->
    <!--    <hr />-->
    <!--    {{userModel | json}}-->
    <!--    <div ngModelGroup="address">-->
    <!--      <div class="form-group">-->
    <!--        <label>Street</label>-->
    <!--        <input type="text" class="form-control" name="street" ngModel="">-->
    <!--      </div>-->
    <!--      <div class="form-group">-->
    <!--        <label>City</label>-->
    <!--        <input type="text" class="form-control" name="city" ngModel="">-->
    <!--      </div>-->
    <!--      <div class="form-group">-->
    <!--        <label>Postal Code</label>-->
    <!--        <input type="text" class="form-control" name="postalCode" ngModel="">-->
    <!--      </div>-->
    <!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Name</label>-->
<!--      <input required="" type="text" #name="ngModel" name="name" [(ngModel)]="userModel.name"-->
<!--             class="form-control" [class.is-invalid]="name.invalid && name.touched">-->
<!--      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>-->
<!--    </div>-->
    <!--    {{name.valid}}-->
    <div class="form-group">
      <label>Name</label>
      <input required="" type="text" #email="ngModel" name="email" [(ngModel)]="userModel.email"
             class="form-control" [class.is-invalid]="email.invalid && email.touched">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input required="" type="password" #password="ngModel" name="password" [(ngModel)]="userModel.password"
             class="form-control" [class.is-invalid]="password.invalid && password.touched">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
    </div>
<!--    <div class="form-group">-->
<!--      <label>Phone</label>-->
<!--      <input type="tel" name="phone" #phone="ngModel" pattern="^\d{10}$" required=""-->
<!--             [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="userModel.phone" class="form-control">-->
<!--      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone is required and must be 10 digits</small>-->
<!--      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">-->
<!--        <small class="text-danger" *ngIf="phone.errors.required">-->
<!--          Phone number is required-->
<!--        </small>-->
<!--        <small class="text-danger" *ngIf="phone.errors.pattern">-->
<!--          Phone number must be 10 digits-->
<!--        </small>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"-->
<!--              required="" #topic="ngModel"-->
<!--              [class.is-invalid]="topicHasError && topic.touched" class="custom-select" name="topic" [(ngModel)]="userModel.topic">-->
<!--        <option value="default">-->
<!--          I'm interested in-->
<!--        </option>-->
<!--        <option *ngFor="let topic of topics">-->
<!--          {{topic}}-->
<!--        </option>-->
<!--      </select>-->
<!--      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">-->
<!--        Topic is required-->
<!--      </small>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label>Time preference</label>-->
<!--      <div class="form-check">-->
<!--        <input type="radio" class="form-check-input" name="timePreference" [(ngModel)]="userModel.timePreference"-->
<!--               value="morning">-->
<!--        <label class="from-check-label">Morning (9AM - 12PM)</label>-->
<!--      </div>-->
<!--      <div class="form-check">-->
<!--        <input type="radio" class="form-check-input" name="timePreference" [(ngModel)]="userModel.timePreference"-->
<!--               value="evening">-->
<!--        <label class="from-check-label">Morning (5PM - 8PM)</label>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-check mb-3">-->
<!--      <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">-->
<!--      <label class="form-check-label">-->
<!--        Send me promotional offers-->
<!--      </label>-->
<!--    </div>-->
<!--    [disabled]="userForm.form.invalid || topicHasError"-->
    <button class="btn btn-primary" type="submit" >
      Submit form
    </button>
  </form>
</div>
