<h2>Employee List</h2>
<h3>{{errorMsg}}</h3>
<table id="customers">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Detail</th>
  </tr>
  <tr *ngFor="let employee of employees" [class.selected]="isSelected((employee))">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.age}}</td>
    <td (click)="onSelect(employee)">Detail
    </td>
  </tr>
</table>
