<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Homepage
  </h1>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="/departments" routerLinkActive="active">Departments</a>
    </li>
    <li>
      <a routerLink="/employees">Employees</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>
<!-- The router views go here-->
